**.project
**.classpath
**target
**bin
**.war
**.jar
**.log
**.settings
**.log.*
.metadata
search.log*
**.svn
activemq-data
logs
.reviewboardrc
.idea/
**.iml
indexes**
/start.bat
indexes/
test-output
**/findbugsreports/**
mvn-install-serge.sh
../eshta-pay-operators/**
.DS_Store
